* {
    margin: 0;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    height: 5vh;
    color: lime;
    font-size: 80px;
    font-weight: bold;
}

p {
    color: lime;
    height: 25px;
}

.gameBox {
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlBox {
    display: flex;
    flex-direction: column;
    border: solid 1px lime;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.sliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    -webkit-appearance: none;
    outline: none;
    opacity: 50;
    background: lime;
    border-radius: 10px;
    cursor: pointer;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: black;
    cursor: pointer;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.btn {
    color: lime;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    height: 660px;
    width: 660px;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px lime;
}

.tile {
    box-sizing: border-box;
}

.newColor {
    background-color: lime;
}

